[Unit]
Description=Simple Python Service
After=syslog.target network.target

[Service]
Type=simple

Restart=always

Environment="JAVA_HOME={{ service_home_dir }}/.sdkman/candidates/java/current"
EnvironmentFile=/etc/pythonserv
WorkingDirectory={{ python_simple_web_server_path }}
ExecStart=python3 -m uploadserver ${port} ${theme} ${thememode} ${servercert} ${servercertfile}
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
