host = {{ openfortivpn_client_servers }}
port = {{  openfortivpn_port }}
username = {{  openfortivpn_user }}
password = {{  openfortivpn_pass }}
set-dns = 0
pppd-use-peerdns = 0
trusted-cert = {{  openfortivpn_trusted_cert }}