JAVA_HOME={{ service_home_dir }}/.sdkman/candidates/java/current

Environment='JAVA_OPTS=-Djava.awt.headless=true'

Environment=CATALINA_HOME=/usr/share/tomcat{{ tomcat_version }}
Environment=CATALINA_BASE=/usr/share/tomcat{{ tomcat_version }}
Environment=CATALINA_PID=/usr/share/tomcat{{ tomcat_version }}/temp/tomcat.pid

GRADLE_HOME={{ service_home_dir }}/.sdkman/candidates/gradle/current
MAVEN_HOME={{ service_home_dir }}/.sdkman/candidates/maven/current

SDKMAN_CANDIDATES_DIR={{ service_home_dir }}/.sdkman/candidates
SDKMAN_VERSION=5.16.0
SDKMAN_DIR={{ service_home_dir }}/.sdkman
SDKMAN_CANDIDATES_API=https://api.sdkman.io/2
SDKMAN_PLATFORM=linuxx64

LD_LIBRARY_PATH={{ domino_install_dir }}/

HOME={{ service_home_dir }}

PATH={{ service_home_dir }}/.sdkman/candidates/maven/current/bin:{{ service_home_dir }}/.sdkman/candidates/java/current/bin:{{ service_home_dir }}/.sdkman/candidates/gradle/current/bin:/usr/local/bin:/usr/bin:/bin


