
[org/gnome/software]
download-updates=false
download-updates-notify=false
allow-updates=false

[org/gnome/settings-daemon/peripherals/keyboard]
numlock-state='on'

[org/gnome/desktop/background]
picture-options='stretch'
color-shading-type='solid'
draw-background=true
secondary-color='#000000000000'
picture-uri='file:///usr/share/backgrounds/prominic.jpg'
picture-uri-dark='file:///usr/share/backgrounds/prominic.jpg'
primary-color='#000000000000'
show-desktop-icons=false

[org/gnome/desktop/lockdown]
disable-command-line=false
disable-log-out=false
disable-user-switching=true
user-administration-disabled=true
disable-lock-screen=false
disable-printing=false

[org/gnome/desktop/privacy]
show-full-name-in-top-bar=true

[org/gnome/desktop/screensaver]
picture-options='stretch'
status-message-enabled=false
ubuntu-lock-on-suspend=true
picture-uri='file:///usr/share/backgrounds/prominic.jpg'
idle-activation-enabled=false
show-full-name-in-top-bar=true
user-switch-enabled=false
lock-enabled=true

[org/gnome/desktop/interface]
color-scheme='prefer-dark'
cursor-theme='Yaru'
font-antialiasing='grayscale'
font-hinting='slight'
gtk-theme='Yaru-dark'
icon-theme='Yaru-dark'

[org/gnome/desktop/notifications/application/update-manager]
application-id='update-manager.desktop'

[org/gnome/desktop/wm/keybindings]
panel-main-menu=['Super_L']

[org/gnome/desktop/wm/preferences]
num-workspaces=1
mouse-button-modifier='disabled'
titlebar-font='Segoe UI Light 11'
button-layout=':appmenu,minimize,maximize,close'

[org/gnome/login-screen]
logo='/usr/share/plymouth/themes/prominic/animation-0001.png'
disable-user-list=true
disable-restart-buttons=false
banner-message-enable=true
banner-message-text='Welcome Prominic Staff!'
enable-password-authentication=false
enable-smartcard-authentication=false
enable-fingerprint-authentication=false

[org/gnome/shell/extensions/dash-to-panel]
hotkeys-overlay-combo='TEMPORARILY'
show-favorites=true
show-tooltip=true
show-activities-button=false
stockgs-keep-dash=false
show-window-previews=true
dot-style-unfocused='METRO'
show-showdesktop-button=true
isolate-workspaces=true
appicon-padding=6
scroll-panel-action='NOTHING'
show-appmenu=false
dot-style-focused='METRO'
appicon-margin=7
group-apps-label-font-color='#dddddd'
dot-position='BOTTOM'
stockgs-panelbtn-click-only=false
show-running-apps=true
secondarymenu-contains-showdetails=true
animate-app-switch=false
window-preview-title-font-color='#dddddd'
show-show-apps-button=false
animate-window-launch=false
scroll-icon-action='NOTHING'
group-apps=false
panel-size=39

[org/gnome/shell/window-switcher]
current-workspace-only=true

[org/gnome/shell/extensions/desktop-icons]
show-trash=false
show-home=false

[org/gnome/shell/extensions/dash-to-dock]
autohide=false
show-show-apps-button=false
apply-custom-theme=true
dock-fixed=false
show-windows-preview=false

[org/gnome/shell]
always-show-log-out=false
enable-hot-corners=false
disable-user-extensions=false
favorite-apps=['vmware-view-s1-champaign.desktop', 'vmware-view-s2-rantoul.desktop', 'firefox.desktop', 'Logout.desktop']
enabled-extensions=['ubuntu-dock@ubuntu.com', 'arc-menu@linxgem33.com', 'dash-to-panel@jderose9.github.com', 'TopIcons@phocean.net', 'extend-panel-menu@julio641742', 'desktop-icons@csoriano']
development-tools=false