grails:
    controllers:
        upload:
            maxFileSize: 104857600
            maxRequestSize: 104857600
restinterface:
    capabilities:
        - upload-database
        - upload-html
        - java-domino-gradle
        - nsfodp
        - import-domino-json
    serverInfo:
        serverName: {{ domino_server_name_common_with_org }}
        baseURL: https://domino.{{ settings.hostname }}.{{ settings.domain|lower }}

