# Fri Feb 12 00:07:24 UTC 2021
# Replay feature output
# ---------------------
# This file was built by the Replay feature of InstallAnywhere.
# It contains variables that were set by Panels, Consoles or Custom Code.

##########################################################################################
#                                                                                        #
# WARNING: This file needs to be saved in UTF-8 encoding without a BOM (byte order mark) #
#                                                                                        #
##########################################################################################

#Choose Install Program Files Directory
#--------------------------------------
USER_INSTALL_DIR={{ domino_install_basedir }}

#Select Partition
#----------------
IA_IS_PARTITION=0

#Choose Install Data Files Directory
#-----------------------------------
USER_INSTALL_DATA_DIR={{ domino_home_dir }}

#Enter User Name
#---------------
IA_USERNAME={{ domino_user }}

#Enter Group Name
#----------------
IA_GROUPNAME={{ domino_group}}

#Number of Partition Servers
#---------------------------
#IA_NUMBER_PARTITION=

#Choose Install Data Files Directory Partition Server 1
#------------------------------------------------------
USER_MAGIC_FOLDER_1={{ domino_home_dir }}

#Partitioned Number 1
#--------------------

#UserName 1
#----------
#IA_USERNAME_1=

#GroupName 1
#-----------
#IA_GROUPNAME_1=

#Choose Install Data Files Directory Partition Server 2
#------------------------------------------------------
USER_MAGIC_FOLDER_2=

#Partitioned Number 2
#--------------------

#UserName 2
#----------
#IA_USERNAME_2=

#GroupName 2
#-----------
#IA_GROUPNAME_2=

#Choose Install Data Files Directory Partition Server 3
#------------------------------------------------------
USER_MAGIC_FOLDER_3=

#Partitioned Number 3
#--------------------

#UserName 3
#----------
#IA_USERNAME_3=

#GroupName 3
#-----------
#IA_GROUPNAME_3=

#Choose Install Data Files Directory Partition Server 4
#------------------------------------------------------
USER_MAGIC_FOLDER_4=

#Partitioned Number 4
#--------------------

#UserName 4
#----------
#IA_USERNAME_4=

#GroupName 4
#-----------
#IA_GROUPNAME_4=

#Choose Install Data Files Directory Partition Server 5
#------------------------------------------------------
USER_MAGIC_FOLDER_5=

#Partitioned Number 5
#--------------------

#UserName 5
#----------
#IA_USERNAME_5=

#GroupName 5
#-----------
#IA_GROUPNAME_5=

#Choose Install Data Files Directory Partition Server 6
#------------------------------------------------------
USER_MAGIC_FOLDER_6=

#Partitioned Number 6
#--------------------

#UserName 6
#----------
#IA_USERNAME_6=

#GroupName 6
#-----------
#IA_GROUPNAME_6=

#Choose Install Data Files Directory Partition Server 7
#------------------------------------------------------
USER_MAGIC_FOLDER_7=

#Partitioned Number 7
#--------------------

#UserName 7
#----------
#IA_USERNAME_7=

#GroupName 7
#-----------
#IA_GROUPNAME_7=

#Choose Install Data Files Directory Partition Server 8
#------------------------------------------------------
USER_MAGIC_FOLDER_8=

#Partitioned Number 8
#--------------------

#UserName 8
#----------
#IA_USERNAME_8=

#GroupName 8
#-----------
#IA_GROUPNAME_8=

#
#
USER_INPUT_CONSOLE_RESULTS=\"Manual\",\"\",\"\"
USER_INPUT_RESULT_1=\"NO\"
#Choose Install Set

#------------------
{% if domino_major_version == 14 %}
CHOSEN_FEATURE_LIST={{ domino_install_chosen_feature_list }}
CHOSEN_INSTALL_FEATURE_LIST={{ domino_install_chosen_feature_list }}
CHOSEN_INSTALL_SET=
{% elif domino_major_version in [11, 12] %}
CHOSEN_FEATURE_LIST=Program Files,DataFiles,Domino Enterprise Connection Services,License,iNotes,Domino Directory Sync Services,Performance Monitoring,OS Integration,Resource Modeling Engine,Billing Support,Clustering Support,Optional Network Drivers,Symbols Files,Java Support,Required Templates,Administration Templates,Optional Templates,Certificate Management,Readme Files,Dojo,Xpages,Web Services Data Files,Enterprise Server Files,Help
CHOSEN_INSTALL_FEATURE_LIST=Program Files,DataFiles,Domino Enterprise Connection Services,License,iNotes,Domino Directory Sync Services,Performance Monitoring,OS Integration,Resource Modeling Engine,Billing Support,Clustering Support,Optional Network Drivers,Symbols Files,Java Support,Required Templates,Administration Templates,Optional Templates,Certificate Management,Readme Files,Dojo,Xpages,Web Services Data Files,Enterprise Server Files,Help
CHOSEN_INSTALL_SET=Enterprise
{% endif %}

#Install
#
# Domino Current Revision used to get current revision for unix and is treated as string
#  example: DOM_CURRENT_REV=12000000 for Domino 12.0.0
#           DOM_CURRENT_REV=12000100 for Domino 12.0.1, 12.0.1 FP
#
#------- CHANGE_EACH_RELEASE
{% set domino_version_string = domino_major_version|string + '.' + domino_minor_version|string + '.' + domino_patch_version|string %}
{% if domino_version_string == '11.0.0' %}
-fileOverwrite_{{ domino_install_basedir }}/notes/11000000/linux/_HCL Domino_installation/Change HCL Domino Installation.lax=Yes
{% elif domino_version_string == '12.0.0' %}
-fileOverwrite_{{ domino_install_basedir }}/notes/12000000/linux/_HCL Domino_installation/Change HCL Domino Installation.lax=Yes
{% elif domino_version_string == '12.0.1' %}
-fileOverwrite_{{ domino_install_basedir }}/notes/12000100/linux/_HCL Domino_installation/Change HCL Domino Installation.lax=Yes
{% elif domino_version_string == '12.0.2' %}
-fileOverwrite_{{ domino_install_basedir }}/notes/12000200/linux/_HCL Domino_installation/Change HCL Domino Installation.lax=Yes
{% elif domino_version_string == '14.0.0' %}
-fileOverwrite_{{ domino_install_basedir }}/notes/14000000/linux/_HCL Domino_installation/Change HCL Domino Installation.lax=Yes
{% endif %}