**/.DS_Store
**/.vscode/*
**/Export/*
**/Ignored/*
**/Docs/*
*.code-workspace
Design/SuperHumanInstaller-Assets-assets/*
**/Dist/*

# Include files despite the parent folder being ignored
!**/.vscode/*.local.*
Assets/vagrant/config/Hosts.template_original.yml
