[Unit]
Description=JeDI - Domino Server Management
After=syslog.target network.target

[Service]
Type=simple

User={{ jedi_user }}
Restart=always

# Remove core limit to see core dumps from the Domino API
LimitCORE=infinity

EnvironmentFile={{ jedi_install_dir }}/etc/environment
WorkingDirectory={{ jedi_install_lib_dir }}
ExecStart={{ jedi_install_dir }}/bin/jedi -d64 --jdk={{ service_home_dir }}/.sdkman/candidates/java/current/
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target
