---
-
  name: "Generating hcl_domino_additional_provisioner Playbook Locally"
  become: true
  gather_facts: true
  hosts: all
  tasks:
    -
      name: "Dynamically generating template playbook for SHI"
      ansible.builtin.template:
        dest: "Hosts.template.yml.SHI"
        mode: a+x
        src: "Hosts.template.yml.j2"
    -
      name: "Dynamically generating playbook"
      ansible.builtin.template:
        dest: "/vagrant/ansible/playbook.yml"
        mode: a+x
        src: "playbook.yml.j2"
    -
      name: "Dynamically generating playbook"
      ansible.builtin.template:
        dest: "/vagrant/ansible/always-playbook.yml"
        mode: a+x
        src: "always-playbook.yml.j2"