html {
    background-color: #1e2125;
  }
  
  .chonky-chonkyRoot {
    border: none;
    border-radius: 20px !important;
    font-family: Montserrat;
    color: #fff !important;
    background-color: #282d33 !important;
    -webkit-box-shadow: 0px 0px 20px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 20px -15px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 20px -15px rgba(0, 0, 0, 1);
    margin: 20px 20px;
  }
  
  .chonky-fileListWrapper {
    margin: 30px 25px;
    font-weight: 600;
    text-decoration: none;
  }
  
  .chonky-toolbarWrapper {
    margin: 0 25px;
  }
  
  .chonky-toolbarRight {
    flex-wrap: wrap !important;
  }
  
  .chonky-navbarWrapper {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .chonky-infoText {
    font-family: Montserrat;
    font-weight: 400;
  }
  
  .chonky-baseButton {
    font-family: Montserrat;
    color: #2face3;
    text-decoration: none;
  }
  
  .chonky-iconWithText {
    color: #2face3;
  }
  
  .MuiButton-label {
    color: #fff;
    text-decoration: underline;
  }
  
  .MuiButton-root {
    text-decoration: none;
  }
  
  .chonky-searchIcon {
    color: #2face3;
  }
  
  .MuiOutlinedInput-root {
    border-radius: 15px;
    border: 1px solid #d8d8d8;
    color: #fff;
    font-family: Montserrat;
  }
  
  .MuiInputBase-root {
    color: #fff !important;
  }
  
  [class^="folderBackSideTop-"]:after {
    display: none !important;
  }
  
  [class^="folderBackSideTop-"] {
    background-color: #4a5a68 !important;
  }
  
  [class^="folderBackSideMid-"] {
    background-color: #4a5a68 !important;
  }
  
  [class^="folderFrontSide-"] {
    background-color: #3c464f !important;
  }
  
  [class^="selectionIndicator-"] {
    background: #2face345 !important;
    border: none !important;
    outline: #2face3;
  }
  
  .chonky-fileListEmptyContent {
    color: #fff !important;
  }
  