{
	"title": "Updating the internet site doc for leap",
	"versionjson": "1.0.0",
	"steps": [
		{
			"title": "--- Step 1. Export original data ---",
			"databases": [
				{
					"action": "export",
					"filePath": "names.nsf",
					"documents": [
						{
							"action": "export",
							"filePath": "JavaAddin/Genesis/jsonresponse/oidc_domino_traveler_internet_site_doc.txt",
							"search": {
							   "formula":"Form=\"WebSite\" & ISiteName=\"{{ settings.hostname }} Traveler\"",
                               "number":0
							},
							"evaluate": "\"ISiteName=\"+@Implode(ISiteName)"
						}
					]
				}
			]
		}
	]
}