#jinja2:lstrip_blocks: True
---
-
  name: "Always run Ansible Provisioning Playbook"
  become: true
  gather_facts: true
  hosts: all
  {% if role_vars is defined and role_vars and role_vars != "" %}
  vars:
    core_provisioner_version: {{ core_provisioner_version }}
    provisioner_name: {{ provisioner_name }}
    provisioner_version: {{ provisioner_version }}
    {% for key, value in role_vars.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  {% endif %}
  {% if collections is defined and collections and collections != "" %}
  collections:
    {% for key, value in collections.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  {% endif %}
  roles:
    {% for role in provision_roles %}
    -
      role: {{ role.name }}
      {% set tag_list = role.tags | default(['once']) %}
      {% if role.when is defined %}
      when: {{ role.when }}
      {% elif 'always' not in tag_list %}
      when: "'once' in ansible_run_tags"
      {% endif %}
      {% if tag_list is iterable and tag_list is not string %}
      tags:
      {% for tag in tag_list %}
        - {{ tag }}
      {% endfor %}
      {% else %}
      tags:
        - {{ tag_list }}
      {% endif %}
      {% if role.vars is defined or role.port_forwards is defined %}
      vars:
        {% if role.vars is defined %}
        {% for key, value in role.vars.items() %}
        {{ key }}: {{ value }}
        {% endfor %}
        {% endif %}
        {% if role.port_forwards is defined %}
        {{ role.name }}_port_forwards:
          {% for ports in role.port_forwards %}
            - 
              guest: {{ ports.guest }}
              host: {{ ports.host }}
              ip: {{ ports.ip }}
              {% if ports.url is defined %}
              url: {{ ports.url }}
              {% endif %}
              {% if ports.proxied is defined %}
              proxied: {{ ports.proxied }}
              {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
