{
	"title": "Modify ACL volt/VoltBuilder.nsf",
	"versionjson": "1.0.0",
	"steps": [
		{
			"title": "--- Step 1. SET ACL for Voltbuilder.nsf ---",
			"databases": [
				{
					"action": "update",
					"filePath": "volt/VoltBuilder.nsf",
					"ACL": {
						"roles": [
							"VoltAppsManager"
						],
						"ACLEntries": [
							{
								"name": "Nancy Noaccess",
								"level": "noAccess",
								"type": "unspecified",
								"isPublicReader": true,
								"isPublicWriter": false
							},
							{
								"name": "Volt Authors",
								"level": "Editor",
								"canCreateDocuments": true,
								"canDeleteDocuments": true,
								"type": "mixedGroup"
							},
							{
								"name": "LocalDomainAdmins",
								"level": "manager",
								"type": "personGroup"
							},
							{
								"name": "AutomaticallyCrossCertifiedUsers",
								"level": "manager",
								"type": "personGroup"
							},
							{
								"name": "{{ domino_admin_user_first_name }} {{ domino_admin_user_last_name }}/{{ domino_organization }}",
								"level": "manager",
								"type": "person",
								"canCreateDocuments": true,
								"canCreateLSOrJavaAgent": true,
								"canCreatePersonalAgent": true,
								"canCreatePersonalFolder": true,
								"canCreateSharedFolder": true,
								"canDeleteDocuments": true,
								"canReplicateOrCopyDocuments": true,
								"isPublicReader": true,
								"isPublicWriter": true,
								"roles": [
									"VoltAppsManager"
								]
							}
						]
					}
				}
			]
		},
		{
			"title": "--- Step 2 (final). Completed ---",
			"messages": [
				"You have adjusted ACL for volt/VoltBuilder.nsf successfully"
			]
		},
        {
			"title": "--- Step 3. SET ACL for VoltConfig.nsf ---",
			"databases": [
				{
					"action": "update",
					"filePath": "volt/VoltConfig.nsf",
					"ACL": {
						"roles": [
							"VoltAppsManager"
						],
						"ACLEntries": [
							{
								"name": "Nancy Noaccess",
								"level": "noAccess",
								"type": "unspecified",
								"isPublicReader": true,
								"isPublicWriter": false
							},
							{
								"name": "Volt Authors",
								"level": "Editor",
								"canCreateDocuments": true,
								"canDeleteDocuments": true,
								"type": "mixedGroup"
							},
							{
								"name": "AutomaticallyCrossCertifiedUsers",
								"level": "manager",
								"type": "personGroup"
							},
							{
								"name": "{{ domino_admin_user_first_name }} {{ domino_admin_user_last_name }}/{{ domino_organization }}",
								"level": "manager",
								"type": "person",
								"canCreateDocuments": true,
								"canCreateLSOrJavaAgent": true,
								"canCreatePersonalAgent": true,
								"canCreatePersonalFolder": true,
								"canCreateSharedFolder": true,
								"canDeleteDocuments": true,
								"canReplicateOrCopyDocuments": true,
								"isPublicReader": true,
								"isPublicWriter": true,
								"roles": [
									"VoltAppsManager"
								]
							}
						]
					}
				}
			]
		},
		{
			"title": "--- Step 4 (final). Completed ---",
			"messages": [
				"You have adjusted ACL for volt/VoltConfig.nsf successfully"
			]
		}
	]
}