{
	"title": "Creating the Verse internet site document",
    "versionjson": "1.0.0", 
    "steps": [ 
        { 
            "title": "--- Creating Internet site Document ---", 
            "databases": [ 
                { 
                    "action": "update", 
                    "filePath": "names.nsf", 
                    "documents":[
                        { 
                            "action": "create", 
                            "computeWithForm": true,
                            "items": {
              					"Form": "WebSite",
              					"AutomationComment" : "Verse",
              					"WSIsDflt"           : "0",
              					"WSHomeURL"          : "/verse",
              					"ISiteAdrs"          : [ "{{ domino_verse_proxy_url }}" ],
              					"ISiteName"          : "Verse",
              					"ISiteOrg"           : "{{ domino_organization }}",
              					"WSHostingSrvrs"     : "CN={{ domino_server_name_common }}/O={{ domino_organization }}",
              					"HTTP_TCP_Redirect"  : "1",
              					"HTTP_SessionCookieSecure" : "1",
              					"HTTP_sessioncookieSamesite" : "2",
              					"HTTP_SessionCookieHTTPOnly" : "1",
              					"HTTP_GenerateSessionCookie" : "1",
              					"HTTP_ForceLoginOnSSL" : "1",
              					"HTTP_EnableRedirectCmd" : "1",
              					"TCPAnonymous"       : "0",
              					"TCPNameAndPwd"      : "0",
              					"SSLAnonymous"       : "0",
{% if domino_oidc_provider_verse_enabled and domino_oidc_provider_enabled and domino_major_version >= 14 %}
              					"SSLNameAndPwd"              : "0",
{% else %}
              					"SSLNameAndPwd"              : "1",
{% endif %}
              					"SSLBearerToken"     : "1",
              					"SSLPasskey"         : "1",
              					"SSLKeyFile"         : "{{ cert_dir }}/kyr/{{ kyr_cert }}",
              					"SSLCipherList"      : [ "C030", "9F", "C02F", "9E" ],
              					"HTTP_EnableSessionAuth" : "1",
              					"HTTP_MaxActiveSessions" : "1000"
                            }
                        }
                    ]
                }
            ]
        }
    ]
}