{
   "title":"Modifying Internet Site Document to allow HTMO access",
   "versionjson":"1.0.0",
   "steps":[
      {
         "title":"--- Step 1. SET value to include Freebusy and Mail ---",
         "databases":[
            {
               "filePath":"names.nsf",
               "action":"update",
               "documents":[
                  {
                     "action":"update",
                     "search":{
                        "formula":"Type=\"WebSite\" & ISiteName=\"Domino Web Site\"",
			               "number":1
                     },
                     "computeWithForm":true,
                     "items":{
                           "WSEnabledServices":["TravelerAdmin","Freebusy","Mail"]
                     }
                  }
               ]
            }
         ]
      },
      {
         "title":"--- Step 2 (final). Completed ---",
         "messages":[
            "You have adjusted Configurations for Traveler to support HTMO successfully"
         ]
      }
   ]
}