{ 
    "title": "Update the ACL to give all users in this organization sufficient access for the agents:", 
    "versionjson": "1.0.0", 
    "steps": [ 
        { 
            "title": "--- Import Documents ---", 
            "databases": [ 
                { 
                    "action": "update", 
                    "filePath": "SuperHumanPortal.nsf", 
                    "ACL":{
                      "ACLEntries": [
                        {
                          "name": "*/{{ domino_organization }}",
                          "level": "depositor",
                          "type": "personGroup",
                          "isPublicReader": true,
                          "isPublicWriter": false,
                          "canCreateDocuments": true,
                          "canDeleteDocuments": false
                        }
                      ]
                    }
                }
            ]
        }
    ]
}
