{ 
    "title": "Update the Security Policy required for Domino as ODIC provider for Nomad using IDVault", 
    "versionjson": "1.0.0", 
    "steps": [ 
        { 
            "title": "--- Import Documents ---", 
            "databases": [ 
                { 
                    "action": "update", 
                    "filePath": "names.nsf", 
                    "documents":[
                        { 
                            "action": "update", 
                            "search": {
                                        "formula":"Type=\"PolicySecurity\" & Fullname=\"{{ id_vault_name }} Security Settings Policy\"",
                                        "number":0
                            },
                            "computeWithForm": true,
                            "items": {
                                "VaultBearerOn":"1"
                            }
                        }
                    ]
                }
            ]
        }
    ]
}