{ 
  "appSwitcher": {
    "visible": true,
    "apps": [
{% if domino_verse_proxy_url is defined %}
      {
        "label": "Verse",
        "icon": "Verse",
        "URL": "https://{{ domino_verse_proxy_url }}/verse/"
      },
{% endif %}
{% if domino_leap_proxy_url is defined %}
      {
        "label": "Leap",
        "icon": "https://raw.githubusercontent.com/STARTcloud/hcl_roles/refs/heads/main/roles/domino_nomadweb/files/leap.ico",
        "URL": "https://{{ domino_leap_proxy_url }}"
      },
{% endif %}
{% if domino_traveler_proxy_url is defined %}
      {
        "label": "Traveler",
        "icon": "https://raw.githubusercontent.com/STARTcloud/hcl_roles/refs/heads/main/roles/domino_nomadweb/files/traveler.ico",
        "URL": "https://{{ domino_traveler_proxy_url }}"
      },
{% endif %}
{% if domino_sametime_proxy_url is defined %}
      {
        "label": "Sametime",
        "icon": "Sametime",
        "URL": "https://{{ domino_sametime_proxy_url }}/meeting/"
      },
{% endif %}
{% if domino_vagrant_rest_api_proxy_url is defined %}
      {
        "label": "Rest API",
        "icon": "https://raw.githubusercontent.com/STARTcloud/hcl_roles/refs/heads/main/roles/domino_nomadweb/files/api.ico",
        "URL": "https://{{ domino_vagrant_rest_api_proxy_url }}/"
      },
{% endif %}
{% if startcloud_guacamole_proxy_url is defined %}
      {
        "label": "Rest API",
        "icon": "https://raw.githubusercontent.com/STARTcloud/hcl_roles/refs/heads/main/roles/domino_nomadweb/files/guac.ico",
        "URL": "https://{{ startcloud_guacamole_proxy_url }}/"
      },
{% endif %}
      {
        "label": "Domino Main Web Site",
        "icon": "Domino",
        "URL": "https://{{ settings.hostname }}.{{ settings.domain }}"
      },
      {
        "label": "Server Console",
        "icon": "https://raw.githubusercontent.com/STARTcloud/hcl_roles/refs/heads/main/roles/domino_nomadweb/files/cockpit.ico",
        "URL": "https://console.{{ settings.hostname }}.{{ settings.domain }}/"
      },
      {
        "label": "Welcome Page",
        "icon": "https://raw.githubusercontent.com/STARTcloud/hcl_roles/refs/heads/main/roles/domino_nomadweb/files/home.ico",
        "URL": "https://{{ domino_nomadweb_proxy_url }}/welcome.html"
      }
    ]
  }
}