{
	"title": "Creating the Leap internet site document",
    "versionjson": "1.0.0", 
    "steps": [ 
        { 
            "title": "--- Creating Internet site Document ---", 
            "databases": [ 
                { 
                    "action": "update", 
                    "filePath": "names.nsf", 
                    "documents":[
                        { 
{% if domino_leap_inet_site_create %}
                            "action": "create", 
{% else %}
                            "action": "update", 
							"search": {
							   "formula":"Form=\"WebSite\" & ISiteName=\"{{ settings.hostname }} Domino Leap\"",
                               "number":0
							},
{% endif %}
                            "computeWithForm": true,
                            "items": {
              					"Form"                       : "WebSite",
              					"AutomationComment"          : "{{ settings.hostname }} Domino Leap",
              					"WSIsDflt"                   : "0",
              					"WSHomeURL"                  : "{{ domino_oidc_provider_leap_home_url }}",
              					"ISiteAdrs"                  : [ "{{ domino_leap_proxy_url }}" ],
              					"ISiteName"                  : "{{ settings.hostname }} Domino Leap",
              					"ISiteOrg"                   : "{{ domino_organization }}",
              					"WSHostingSrvrs"             : "CN={{ domino_server_name_common }}/O={{ domino_organization }}",
              					"HTTPEnableMethods"          : [ "1", "2", "3", "4", "6", "7" ],
              					"HTTP_TCP_Redirect"          : "1",
              					"HTTP_SessionCookieSecure"   : "1",
              					"HTTP_sessioncookieSamesite" : "2",
              					"HTTP_SessionCookieHTTPOnly" : "1",
              					"HTTP_GenerateSessionCookie" : "1",
              					"HTTP_ForceLoginOnSSL"       : "1",
              					"HTTP_EnableRedirectCmd"     : "1",
              					"TCPAnonymous"               : "0",
              					"TCPNameAndPwd"              : "0",
              					"SSLAnonymous"               : "0",
{% if domino_oidc_provider_leap_enabled and domino_oidc_provider_enabled and domino_major_version >= 14 %}
              					"SSLNameAndPwd"              : "0",
{% else %}

              					"SSLNameAndPwd"              : "1",
{% endif %}
              					"SSLBearerToken"             : "1",
              					"SSLPasskey"                 : "1",
              					"SSLKeyFile"                 : "{{ cert_dir }}/kyr/{{ kyr_cert }}",
              					"SSLCipherList"              : [ "C030", "9F", "C02F", "9E" ],
              					"HTTP_EnableSessionAuth"     : "1",
              					"HTTP_MaxActiveSessions"     : "1000"
                            }
                        }
                    ]
                }
            ]
        }
    ]
}