INSTALL_ENV_NAME='{{ settings.hostname }}.{{ settings.domain }}'
FABRIC_BUILD_VERSION='{{ voltmx_fabric_build_version }}'
FABRIC_DATABASE_BUILD_VERSION='{{ voltmx_fabric_db_build_version }}'
FABRIC_BUILD_TYPE='{{ voltmx_build_type }}'
SERVER_DOMAIN_NAME='{{ settings.hostname }}.{{ settings.domain }}'
SERVER_PORT={{ voltmx_port_forwards[0].port }}
COM_PROTOCOL='{{ voltmx_port_forwards[0].protocol }}'
{% if selfsigned_enabled  %}
KEYSTORE_FILE='{{ cert_dir }}/jks/{{ settings.hostname }}.{{ settings.domain }}-self-signed.jks'
{% elif not selfsigned_enabled  %}
KEYSTORE_FILE='{{ cert_dir }}/jks/default-signed.jks'
{% endif %}
KEYSTORE_FILE_PASS='{{ cert_pass }}'
KEYSTORE_FILE_PASS_SECRET_KEY=
DB_TYPE='{{ voltmx_db_type }}'
DB_HOST='{{ netoutput.stdout }}'
DB_PORT='{{ startcloud_mariadb_port_forwards[0].guest }}'
DB_USER='{{ mariadb_admin_user }}'
DB_PASS='{{ mariadb_admin_pass }}'
DB_PASS_SECRET_KEY=
DB_PREFIX='{{ voltmx_db_prefix }}'
DB_SUFFIX=
DB_DATA_TS=
DB_INDEX_TS=
DB_LOB_TS=
DB_SERVICE=
USE_EXISTING_DB='{{ voltmx_existing_db }}'
PREVIOUS_INSTALL_LOCATION='{{ voltmx_existing_location }}'
OWNER_REGISTRATION_REQUIRED='{{ voltmx_registration_required }}'
OWNER_USER_ID='{{ voltmx_owner_email }}'
OWNER_PASSWORD='{{ voltmx_owner_password }}'
OWNER_FIRST_NAME='{{ voltmx_owner_first_name }}'
OWNER_LAST_NAME='{{ voltmx_owner_last_name }}'
OWNER_ENV_NAME='{{ voltmx_owner_env_name }}'
TIME_ZONE='{{ voltmx_timezone }}'
CUSTOM_JAVA_OPTS="{{ voltmx_custom_java_opts_array }}"
