#/bin/bash
gnome-session-quit --logout --no-prompt
#curl domino-server.startcloud.com/someapi?Somedata I am done Remove me from the Pool
#ansible -k playbookthat-cleans-up-user
#curl domino-server.startcloud.com/someapi?Somedata  User has been deleted