<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <profiles>

        <!-- for local operations -->
        <profile>
            <id>nsfodp</id>
            <properties>
                <notes-program>{{ domino_install_dir }}</notes-program>
                <notes-platform>file://{{ nsfodp_updatesite_path  }}</notes-platform>
                <notes-ini>{{ service_home_dir }}/notes.ini </notes-ini>
                <notes-data>{{ service_home_dir }}</notes-data>
            </properties>
        </profile>

    </profiles>

    <activeProfiles>
        <activeProfile>nsfodp</activeProfile>
    </activeProfiles>

</settings>
