{ 
    "title": "Create configuration document required for Domino as ODIC provider using IDVault", 
    "versionjson": "1.0.0", 
    "steps": [ 
        { 
            "title": "--- Import Documents ---", 
            "databases": [ 
                { 
                    "action": "update", 
                    "filePath": "IBM_ID_VAULT\{{ id_vault_name }}.nsf", 
                    "documents":[
                        { 
                            "action": "update", 
                            "search": {
                                        "formula":"Form=\"Control\" & VTName=\"O={{ id_vault_name }}\"",
                                        "number":0
                            },
                            "computeWithForm": true,
                            "items": {
                                "OIDCBearerConfigs":"bearer.vault.{{ domino_server_name_common }}"
                            }
                        }
                    ]
                }
            ]
        }
    ]
}