data.directory={{ domino_home_dir }}
domino.setup.file={{ domino_home_dir }}/setup.json
cert.id.file={{ domino_home_dir }}/cert.id
acl.template.file={{ service_home_dir }}/default_cross_certify_acl.json
output.file={{ completed_dir }}/CrossCertifyNotesID.out
debug=true