[Unit]
Description=Wifi-Connect
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/usr/local/sbin/start-wifi-connect.sh
StandardError=journal
StandardOutput=journal

[Install]
WantedBy=sysinit.target