// This file can be used to configure global preferences for Firefox
// Example: Homepage
pref("trailhead.firstrun.branches", "nofirstrun-empty", locked);
pref("browser.aboutwelcome.enabled", false, locked);
pref("browser.startup.homepage", "https://assistant.some.domain.org/", locked);
pref("browser.newtabpage.activity-stream.aboutHome.enabled", false);
pref("browser.ssb.enabled", true);