[Notes]

: must be the path to this notes.ini file
Directory={{ service_home_dir }}

: key file to use
: This needs to be replaced with the ID file you upload in Vagrantfile
KeyFilename={{ domino_home_dir }}/ids/{{ domino_admin_user_id }}

: timezone to use
Timezone=6

: 1 means daylight savings time enabled, 0 means disabled
DST=1


:===== should NOT be necessary to change anything below here =====

: 1 means client install, 2 means server install
KitType=1

: this is with port encryption I hope:
TCPIP=TCP,0,15,0,,45056,

: this is without port encryption I hope:
: TCPIP=TCP, 0, 15, 0

: these two settings are apparently required to enable IP as the default
$$HasLANPort=1
Ports=TCPIP

: this may have something to do with the time delay in ms allowed to remote IP host
DDETimeout=10

: I guess this means transaction logging is off
TRANSLOG_AutoFixup=1
TRANSLOG_UseAll=0
TRANSLOG_Style=0
TRANSLOG_Performance=2
TRANSLOG_Status=0

: this gets added back if I remove it, so it must be the default
DEBUG_BTREE_ERRORS=1
PhoneLog=2
Log=log.nsf, 1, 0, 7, 40000
MailType=0
