# Set the default behavior, in case people don't have core.autocrlf set.
* text eol=lf

 # Treat binary files correctly
*.png binary 
*.jpg binary 
*.jpeg binary 
*.gif binary 
*.ico binary 
*.webp binary 
*.svg binary 
*.ttf binary 
*.eot binary 
*.woff binary 
*.woff2binary 
*.pdf binary 
*.zip binary 
*.gz binary 
*.tgz binary 
*.mp3 binary 
*.mp4 binary 
*.mov binary 
*.dll  binary

# Enforce to use Linux-style newlines
*.hx text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.sh.j2 text eol=lf
*.j2 text eol=lf
*.html text eol=lf
*.js text eol=lf
*.css text eol=lf
*.dxl text eol=lf
*.xml text eol=lf
*.mxhx text eol=lf

#Private Key should be Linux-style newlines
id_rsa text eol=lf
