ACCEPT_LICENSE=true
DOMINO_PROGRAM_DIRECTORY={{ domino_install_dir }}
DOMINO_DATA_DIRECTORY_1={{ domino_home_dir }}
DOMINO_NOTESINI_DIRECTORY_1={{ domino_home_dir }}
LINUX_USER_NAME={{ domino_user }}
LINUX_GROUP_NAME={{ domino_group }}
NTS_WEBSITE_HOME=0
OVERRIDE_BACKREV=false