#jinja2:lstrip_blocks: True
---
-
  name: "Default Ansible Provisioning Playbook"
  become: true
  gather_facts: true
  hosts: all
{% if role_vars is defined and role_vars and role_vars != "" %}
{% if role_vars.proxy_server is defined and role_vars.use_proxy and role_vars.proxy_port is defined and role_vars.proxy_port != "" %}
  environment:
    http_proxy: http://{{ role_vars.proxy_server }}:{{ role_vars.proxy_port }}
    https_proxy: http://{{ role_vars.proxy_server }}:{{ role_vars.proxy_port }}
{% endif %}
  vars:
    core_provisioner_version: {{ core_provisioner_version }}
    provisioner_name: {{ provisioner_name }}
    provisioner_version: {{ provisioner_version }}
    {% for key, value in role_vars.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
    all_roles:
    {% for role in provision_roles %}
      - {{ role.name }}
    {% endfor %}
    enabled_roles:
    {% for role in provision_roles %}
      {% set run_tasks = role.vars.run_tasks if role.vars is defined and 'run_tasks' in role.vars else true %}
      {% if run_tasks %}
      - {{ role.name }}
      {% endif %}
    {% endfor %}
  {% endif %}
  {% if playbook_collections is defined and playbook_collections and playbook_collections != "" %}
  collections:
    {% for key, value in playbook_collections.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  {% endif %}
  {% if provision_pre_tasks is defined and provision_pre_tasks and provision_pre_tasks != "" %}
  pre_tasks:
    {% for pre_task in provision_pre_tasks %}
    -
      {{ pre_task }}
    {% endfor %}
  {% endif %}
  roles:
    {% for role in provision_roles %}
    -
      role: {{ role.name }}
      {% set tag_list = role.tags | default([]) %}
      {% if role.when is defined %}
      when: {{ role.when }}
      {% endif %}
      {% if tag_list is iterable and tag_list is not string and tag_list | length > 0 %}
      tags:
        {% for tag in tag_list %}
          - {{ tag }}
        {% endfor %}
      {% elif tag_list is string and tag_list != "" %}
      tags:
        - {{ tag_list }}
      {% endif %}
      {% if role.vars is defined or role.port_forwards is defined %}
      vars:
        {% if role.vars is defined %}
        {% for key, value in role.vars.items() %}
        {{ key }}: {{ value }}
        {% endfor %}
        {% endif %}
        {% if role.port_forwards is defined %}
        {{ role.name }}_port_forwards:
          {% for ports in role.port_forwards %}
            - 
              guest: {{ ports.guest }}
              host: {{ ports.host }}
              ip: {{ ports.ip }}
              {% if ports.url is defined %}
              url: {{ ports.url }}
              {% endif %}
              {% if ports.proxied is defined %}
              proxied: {{ ports.proxied }}
              {% endif %}
          {% endfor %}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% if provision_post_tasks is defined and provision_post_tasks and provision_post_tasks != "" %}
  post_tasks:
    {% for post_task in provision_post_tasks %}
    -
      {{ post_task }}
    {% endfor %}
  {% endif %}