[Unit]
Description=Tomcat {{ tomcat_version }}
After=syslog.target network.target

[Service]
Type=forking

User={{ tomcat_user }}
Group={{ tomcat_group }}


EnvironmentFile={{ tomcat_home_dir }}/environment
ExecStart=/usr/share/tomcat{{ tomcat_version }}/bin/catalina.sh start
ExecStop=/usr/share/tomcat{{ tomcat_version }}/bin/catalina.sh stop

[Install]
WantedBy=multi-user.target
