CONSOLE_INSTALLATION_TYPE_1=
CONSOLE_INSTALLATION_TYPE_2=
CONSOLE_INSTALLATION_TYPE_3=Development

PROMPT_USER_CHOSEN_OPTION=0

INSTALL_COMP_1=Console
INSTALL_COMP_2=Identity Services
INSTALL_COMP_3=Integration Services
INSTALL_COMP_4=API Developer Portal
INSTALL_COMP_5=Engagement Services


SEND_USAGE_DATA_INPUT_1=Yes
USER_INSTALL_DIR={{ installer_dir }}


USER_INPUT_SERVER_CHOICE_1={{ voltmx_tomcat_version }} #Tomcat 9.0.62
USER_INPUT_SERVER_CHOICE_2=
USER_INPUT_SERVER_CHOICE_3=
USER_INPUT_SERVER_CHOICE_4=

USER_INPUT_INSTALL_MODE_1=Standalone Mode (Single Node installation in bundled JBoss)
USER_INPUT_INSTALL_MODE_2=
USER_INPUT_INSTALL_MODE_3=

USER_INPUT_PROTOCOL_1=HTTP
USER_INPUT_PROTOCOL_2=

CONSOLE_HOST_DETAILS_1={{ settings.hostname }}.{{ settings.domain }}
CONSOLE_HOST_DETAILS_2={{ voltmx_http_port }}
CONSOLE_HOST_DETAILS_3={{ voltmx_https_port }}

CONSOLE_SSL_CERTS_1=
CONSOLE_SSL_CERTS_2=

CONSOLE_CERTS_DETAILS_1=
CONSOLE_CERTS_DETAILS_2=
CONSOLE_CERTS_DETAILS_3=
CONSOLE_CERTS_DETAILS_4=
CONSOLE_CERTS_DETAILS_5=
CONSOLE_CERTS_DETAILS_6=

CONSOLE_APPSERVER_SSL_1=

APPSERVER_KEYSTORE_PASS={{ mariadb_admin_pass }}
INDEX_OF_MATCHING_PASSWORD=0


CONSOLE_DB_CHOICE_1=
CONSOLE_DB_CHOICE_2=
CONSOLE_DB_CHOICE_3=
CONSOLE_DB_CHOICE_4=
CONSOLE_DB_CHOICE_5={{ voltmx_mariadb_version }} #MariaDB 10.3.13

CONSOLE_DB_DETAILS_1=127.0.0.1
CONSOLE_DB_DETAILS_2={{ mariadb_port }}
CONSOLE_DB_DETAILS_3={{ mariadb_admin }}

CONSOLE_DB_PREFIX_SUFFIX_1=
CONSOLE_DB_PREFIX_SUFFIX_2=

CONSOLE_DB_PASS={{ mariadb_admin_pass }}
INDEX_OF_MATCHING_PASSWORD=0

DB_EXIST_CHOICE=0

USER_SUPPLIED_AUTO_REG_PASSWORD={{ mariadb_admin_pass }}
INDEX_OF_MATCHING_PASSWORD=0

USER_SUPPLIED_AUTO_REG_CONFIRM_PASSWORD={{ mariadb_admin_pass }}
INDEX_OF_MATCHING_PASSWORD=0

START_SERVER_1=Yes
START_SERVER_2=

CONSOLE_DELETE_DATABASE_1=
CONSOLE_DELETE_DATABASE_2=



