/* Light mode */
@media (prefers-color-scheme: light) {
    body {
            font-family: "Helvetica", Sans-Serif;
            background-color: #454a4d;
            padding: 0;
            margin: 0;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
            font-family: "Helvetica", Sans-Serif;
            background-color: #2C2F31;
            padding: 0;
            margin: 0;
    }
}

a {
    color: rgb(202, 197, 190);
}

.header {
    position: absolute;
    background-color: #444A4D;
    width: 100vw;
    height: 5vh;
    z-index: 1;
}

code {
    background-color: #36393b;
    color: #9ea4a7;
    border-radius: 0.3em;
    padding: 4px 5px 6px;
    line-height: 2.5;
}

.header-content-left {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    padding-left: 2.5vw;
    word-spacing: 3vh;
    height: 5vh;
    float: left;
}

.header-content-right {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    padding-right: 2.5vw;
    word-spacing: 3vh;
    height: 5vh;
    float: right;
}

.content {
    padding-top: 5vh;
    overflow: auto;
    height: 83vh;
}

.section-break {
    margin: 50px;
    height: 500px;
}

.section {
    padding-left: 1.5vw;
    color: white;
}

.section-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

.footer {
    position: fixed;
    background-color: #444A4D;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
    height: 12vh;
}

.footer-content-left {
    font-size: 2.5vh;
    padding-left: 1.5vw;
    float: left;
    width: 100vw;
}

.footer-content-right {
    font-size: 2.5vh;
    float: right;
    position:absolute;
    top:0;
    right:1.5vw;
}

ul {
    list-style-type: none;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 0;
}

li {
    display: inline;
    padding: 0px 1vw;
}

.trademarks {
    display: inline;
    font-size: .75vw;
    color: white;
    padding-left: 1.5vw;
}

.tooltip {
    word-spacing: normal;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    top:4vh;
    left: -5vh;
    visibility: hidden;
    font-size: 2vh;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    }

.tooltipnoborder {
    word-spacing: normal;
    position: relative;
    display: inline-block;
}

.tooltipnoborder .tooltiptextcenter {
    visibility: hidden;
    font-size: 2vh;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    }

.tooltipnoborder:hover .tooltiptextcenter {
    visibility: visible;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
