grails:
    controllers:
        upload:
            maxFileSize: 104857600
            maxRequestSize: 104857600
restinterface:
    capabilities:
        - upload-database
        - upload-html
        - java-domino-gradle
        - nsfodp
        - import-domino-json
{% if domino_major_version == 12 and domino_patch_version == 1 %}
    serverName: {{ settings.hostname }}/{{ domino_organization }}
{% else %}
    serverName: {{ settings.hostname }}.{{ settings.domain }}/{{ domino_organization }}
{% endif %}
    baseURL: https://domino.{{ settings.hostname }}.{{ settings.domain|lower }}
    dominoVersion: {{ domino_major_version }}.{{ domino_minor_version }}.{{ domino_patch_version }}
