{
  "level": "manager",
  "type": "person",
  "canDeleteDocuments": true,
  "canReplicateOrCopyDocuments": true,
  "roles": [
    "[GroupCreator]",
    "[GroupModifier]",
    "[NetCreator]",
    "[PolicyCreator]",
    "[PolicyModifier]",
    "[PolicyReader]",
    "[NetModifier]",
    "[ServerCreator]",
    "[ServerModifier]",
    "[UserCreator]",
    "[UserModifier]"
  ]
}