[Desktop Entry]
Terminal=false
X-MultipleArgs=false
Type=Application
Exec=firefox %u --new-tab "localhost:8080"
Icon=firefox
Categories=GNOME;GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true
Actions=new-window;new-private-window;
Hidden=False
NoDisplay=False
X-GNOME-Autostart-enabled=true
Name[C]=Jenkins
Name=Jenkins
Comment[C]=Jenkins
Comment=Jenkins
