------------------------------------------------------------------------------------
### Vagrant VM commands ###
------------------------------------------------------------------------------------
    - Start/build instance:        "vagrant up"    or for logging use ./vagrant_up.sh
    - SSH to instance:             "vagrant ssh"   or for logging use ./vagrant_ssh.sh
    - Re-sync files:               "vagrant rsync"
    - Reload the VM:               "vagrant reload"
    - Stop instance:               "vagrant halt"
    - Delete instance:             "vagrant destroy"
    - Re-Run Provisioning Sripts:  "vagrant provision"
    - Show All Vagrant VMs:        "vagrant --global status"
    - Show All Vagrant VMs:        "vagrant status"
------------------------------------------------------------------------------------

-----------------------------------------------------------------------------
### Begin Copying Files to the VM
-----------------------------------------------------------------------------
To copy files to the VM.

    Simply place them in the /domino directory an they will be placed in the /vagrant directoy on the VM once you run:
        vagrant rsync

    Then without destroying the entire server to re-run the scripts you can run:
        vagrant provision


-----------------------------------------------------------------------------
## Informational Messages
-----------------------------------------------------------------------------

    If you have provided your own SSL, or prefer to use Hostnames instead of IPs. Please set a host record entry

    --autogenerated just for you--
    {{ netoutput.stdout }} {{ settings.hostname }} {{ settings.hostname }}.{{ settings.domain }} {% if domino_install_proxy_url is defined %}{{ domino_install_proxy_url }}{% endif %} {{ startcloud_quick_start_proxy_url }} {% if domino_traveler_proxy_url is defined %}{{ domino_traveler_proxy_url }}{% endif %} {% if domino_verse_proxy_url is defined %}{{ domino_verse_proxy_url }}{% endif %} {% if domino_leap_proxy_url is defined %}{{ domino_leap_proxy_url }}{% endif %} {% if domino_nomadweb_proxy_url is defined %}{{ domino_nomadweb_proxy_url }}{% endif %} {% if domino_rest_api_proxy_url is defined %}{{ domino_rest_api_proxy_url }}{% endif %} {% if domino_appdevpack_proxy_url is defined %}{{ domino_appdevpack_proxy_url }}{% endif %}
