grails:
    controllers:
        upload:
            maxFileSize: 104857600
            maxRequestSize: 104857600
restinterface:
    capabilities:
        - upload-database
        - upload-html
        - java-domino-gradle
        - nsfodp
    serverName: demo/DEMO
    baseURL: https://127.0.0.1:{{ domino_vagrant_rest_api_port_forwards[0].guest }}
