<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>503 Service Unavailable</title>
  </head>
  <body style="color: #ffffff; background-color: #1a0202;">
    <main>
      <center>
        <h1>503 Service Unavailable</h1>
        <p>No server is available to handle this request.</p>
        <p>Please contact Prominic support at:</p>
        <strong>
          <a style="color: #ffffff;" title="Support@prominic.net" href="mailto://support@prominic.net" target="_blank">support@prominic.net</a>
        </strong>
        <p>Unique ID: %[unique-id]</p>
        <img style="display: block; margin-left: auto; margin-right: auto;" src="https://www.prominic.net/wp-content/uploads/2021/05/Asset-1-168x70.png" alt="" width="168" height="70" />
      </center>
    </main>
  </body>
</html>
