[Unit]
Description=VoltMX
After=syslog.target network.target

[Service]
Type=forking

User={{ service_user }}
Group={{ service_group }}

WorkingDirectory={{ voltmx_installation_dir}}/tomcat/

ExecStart=/usr/bin/authbind --deep {{ voltmx_installation_dir}}/tomcat/bin/startup.sh
ExecStop={{ voltmx_installation_dir}}/tomcat/bin/shutdown.sh

RestartSec=20
Restart=always

[Install]
WantedBy=multi-user.target
