grails:
    controllers:
        upload:
            maxFileSize: 104857600
            maxRequestSize: 104857600
restinterface:
    capabilities:
        - upload-database
        - upload-html
        - java-domino-gradle
        - nsfodp
    {% if domino_major_version == 12 and domino_patch_version == 1 %}
		serverName: {{ settings.hostname }}/{{ domino_organization }}
	{% else %}
		serverName: {{ settings.hostname }}.{{ settings.domain }}/{{ domino_organization }}
	{% endif %}
    baseURL: https://127.0.0.1:{{ domino_vagrant_rest_api_port_forwards[0].guest }}
