{
    "provider_info": {
        "oidc_provider_site": "{{ domino_oidc_install_proxy_url }}",
        "primary_server": "CN={{ domino_server_name_common }}/O={{ domino_organization }}",
        "domino_servers": ["{{ domino_server_name_common_with_org }}"]
    },
    "registered_clients": []
}
