#jinja2:lstrip_blocks: True
---
-
  become: true
  gather_facts: true
  hosts: all
  {% if role_vars is defined and role_vars and role_vars != "" %}
  vars:
    demo_tasks_version: {{ demo_tasks_version }}
    {% for key, value in role_vars.items() %}
    {{ key }}: {{ value }}
    {% endfor %}
  {% endif %}
  roles:
    {% for role in provision_roles %}
    - 
      role: {{ role.name }}
      {% if role.when is defined %}
      when: {{ role.when }}
      {% endif %}
      {% if role.vars is defined %}
      vars:
        {% for key, value in role.vars.items() %}
        {{ key }}: {{ value }}
        {% endfor %}
        {% endif %}
    {% endfor %}
