{
	"title": "Creating the Traveler Internet Site",
    "versionjson": "1.0.0", 
    "steps": [ 
        { 
            "title": "--- Creating Traveler Internet Site---", 
            "databases": [ 
                { 
                    "action": "update", 
                    "filePath": "names.nsf", 
                    "documents":[
                        { 
{% if domino_traveler_inet_site_create %}
                            "action": "create", 
{% else %}
                            "action": "update", 
							"search": {
							   "formula":"Form=\"WebSite\" & ISiteName=\"{{ settings.hostname }} Traveler\"",
                               "number":0
							},
{% endif %}
                            "computeWithForm": true,
                            "items": {
                                "Form"                          : "WebSite",
                                "AutomationComment"             : "{{ settings.hostname }} Traveler",
                                "WSIsDflt"                      : "0",
                                "ISiteAdrs"                     : [ "{{ domino_traveler_proxy_url }}" ],
                                "ISiteName"                     : "{{ settings.hostname }} Traveler",
                                "ISiteOrg"                      : "{{ domino_organization }}",
                                "WSHostingSrvrs"                : "CN={{ domino_server_name_common }}/O={{ domino_organization }}",
                                "HTTP_TCP_Redirect"             : "1",
                                "HTTP_SessionCookieSecure"      : "1",
                                "HTTP_sessioncookieSamesite"    : "2",
                                "HTTP_SessionCookieHTTPOnly"    : "1",
                                "HTTP_GenerateSessionCookie"    : "1",
                                "HTTP_ForceLoginOnSSL"          : "1",
                                "HTTP_EnableRedirectCmd"        : "1",
                                "TCPAnonymous"                  : "0",
                                "TCPNameAndPwd"                 : "0",
                                "SSLAnonymous"                  : "0",
                                "SSLNameAndPwd"                 : "0",
                                "SSLBearerToken"                : "1",
                                "SSLPasskey"                    : "1",
                                "SSLKeyFile"                    : "{{ cert_dir }}/kyr/{{ kyr_cert }}",
                                "SSLCipherList"                 : [ "C030", "9F", "C02F", "9E" ],
                                "HTTP_EnableSessionAuth"        : "1",
                                "HTTP_MaxActiveSessions"        : "1000"
                            }
                        }
                    ]
                }
            ]
        }
    ]
}
