[org/gnome/desktop/interface]
color-scheme='prefer-dark'
cursor-theme='Yaru'
font-antialiasing='grayscale'
font-hinting='slight'
gtk-theme='Yaru-dark'
icon-theme='Yaru-dark'

[org/gnome/login-screen]
logo='/usr/share/plymouth/themes/STARTcloud/animation-0001.png'
disable-user-list=true
disable-restart-buttons=false
banner-message-enable=true
banner-message-text='Welcome STARTcloud Users!'